<p-dialog
  [header]="taskId() ? 'Modifier la tâche' : 'Nouvelle tâche'"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '25rem' }"
  (onShow)="onDialogOpen()"
  (onHide)="close()"
>
  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 mt-2">
    <div class="flex flex-col gap-1">
      <label for="title" class="font-semibold">Titre</label>
      <input pInputText id="title" formControlName="title" class="flex-auto" autocomplete="off" />

      @if (taskForm.controls.title.touched && taskForm.controls.title.hasError('required')) {
        <small class="text-red-500">Le titre est requis</small>
      }

      @if (taskForm.controls.title.touched && taskForm.controls.title.hasError('minlength')) {
        <small class="text-red-500">Minimum 3 caractères</small>
      }
    </div>

    <div class="flex flex-col gap-1">
      <label for="description" class="font-semibold">Description</label>
      <input
        pInputText
        id="description"
        formControlName="description"
        class="flex-auto"
        autocomplete="off"
      />
    </div>

    @if (currentUserIsAdmin) {
      <div class="flex flex-col gap-1">
        <label for="targetUserId" class="font-semibold">Attribuer à l'utilisateur</label>
        <p-select
          id="targetUserId"
          formControlName="targetUserId"
          [options]="users()"
          optionLabel="username"
          optionValue="id"
          placeholder="Sélectionner un utilisateur"
          class="w-full"
          appendTo="body"
        >
          <ng-template pTemplate="empty">
            <span>Aucun utilisateur disponible</span>
          </ng-template>
        </p-select>
      </div>
    }

    <div class="flex justify-end gap-2 mt-4">
      <p-button label="Annuler" severity="secondary" type="button" (onClick)="close()" />
      <p-button
        [label]="taskId() ? 'Modifier' : 'Créer'"
        type="submit"
        [disabled]="taskForm.invalid"
      />
    </div>
  </form>
</p-dialog>
