<div>
  <h2 class="text-3xl font-bold mb-6 text-primary">Gestion des utilisateurs</h2>

  <div class="rounded-xl overflow-x-auto shadow-2xl p-4 border dark:border-gray-400 dark:">
    <table class="w-full border-collapse">
      <thead>
        <tr class="border-b">
          <th>ID</th>
          <th>Nom</th>
          <th>Rôle</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        @for (user of displayedUsers(); track user.id) {
          <tr class="border-b">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>
              <span
                class="badge"
                [class.admin]="user.role === 'ADMIN'"
                [class.user]="user.role === 'USER'"
              >
                {{ user.role }}
              </span>
            </td>
            <td>
              @if (user.role !== 'ADMIN') {
                <p-button severity="danger" (click)="ban(user)">Bannir</p-button>
              } @else {
                <span class="text-[#999] italic text-sm">Protégé</span>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
